<div class="billboard">
  <div class="type_1" [style.backgroundColor]="obj.corS">
    <div class="c-1" [style.backgroundColor]="obj.corP">
      <div class="text">
        <p>
          {{ obj.textoCriativo }}
        </p>
      </div>
      <div
        class="logo"
        [style.backgroundImage]="'url(' + obj.logoUrl + ')'"
      ></div>
    </div>
    <div class="c-2" [style.backgroundImage]="'url(' + obj.imageUrl + ')'">
      <div class="image">
        <button [style.backgroundColor]="obj.corP">{{ obj.cta }}</button>
      </div>
    </div>
  </div>

  <br />

  <div class="type_2" [style.backgroundColor]="obj.corS">
    <div class="c-1" [style.backgroundImage]="'url(' + obj.imageUrl + ')'">
      <div class="image" >
        <button [style.backgroundColor]="obj.corP">{{ obj.cta }}</button>
      </div>
    </div>
    <div class="c-2" [style.backgroundColor]="obj.corP">
      <div class="text">
        <p>
          {{ obj.textoCriativo }}
        </p>
      </div>
      <div
        class="logo"
        [style.backgroundImage]="'url(' + obj.logoUrl + ')'"
      ></div>
    </div>
  </div>

  <br />

  <div class="type_3" [style.backgroundColor]="obj.corP">
    <div class="c-1">
      <div class="text">
        <p>
          {{ obj.textoCriativo }}
        </p>
      </div>
    </div>
    <div class="c-2" [style.backgroundImage]="'url(' + obj.imageUrl + ')'">
      <div class="image">
        <button [style.backgroundColor]="obj.corP">{{ obj.cta }}</button>
      </div>
    </div>
    <div class="c-3">
      <div class="line"  [style.backgroundColor]="obj.corS"></div>
      <div
        class="logo"
        [style.backgroundImage]="'url(' + obj.logoUrl + ')'"
      ></div>
      <div class="line" [style.backgroundColor]="obj.corS"></div>
    </div>
  </div>
</div>
